@font-face {
    font-family: NetflixFont;
    src: url(netflix.otf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    color: white;
    background: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
}

.container::before{
    content: "";
    background-image: url(images/netflix.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.5;
    z-index: -1;
}

.logo_netflix img {
    width: 9%;
    height: 9%;
    margin-left: 50px;
    margin-top: 20px;  
}

.container_form{
    background-color: rgb(0, 0, 0, 0.8);
    padding: 60px;
    height: 540px;
    width: 400px;
    margin: auto;
}


.indentification {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    text-align: center;
}


button {
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 12px;
    width: 290px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.bouton {
    margin-top: 20px;
}


.checkbox {
    display: inline-flex;
    justify-content:flex-start;
    gap: 5px;
    align-content: center;
    
}

h1 {
    font-size: 30px;
}

input[type="checkbox"] {
    filter: brightness(70%);
}



input[type="text"], input[type="password"] {
    width: 290px;
    color: white;
    background-color: rgb(73, 73, 73);
    border: none;
    border-radius: 3px;
    padding: 12px;
    font-size: 15px;
}

label {
    color: rgb(199, 193, 193);
    font-size: 12px;
}


.help a {
    color: rgb(199, 193, 193);
    float: right;
    font-size: 12px;
    text-decoration: none;
    position: relative;
    bottom: 30px;
}
.text {
    color: rgb(199, 193, 193);
}

.text h2{
    font-size: 13px;
}
.text a {
    text-decoration: none;
    color: white;
    font-weight:bold;
}

.text h3 {
    font-size: 12px;
    font-weight: 100;
}

footer {
    color: rgb(199, 193, 193);
    max-width: 1000px;
    margin: 0 auto;
    height: 100vh;
    margin-top: 130px;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
}

footer ul li {
    width: 25%;
    font-size: 12px;
    padding: 10px 50px;
    list-style-type: none;
}

footer p {
    margin-left: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 15px;
}

.contenu {
    background-color: rgb(0, 0, 0, 0.8);
    font-family:Arial, Helvetica, sans-serif;
}

.down_logo img {
    position: relative;
    height: 10px;
    width: 10px;
    right: 40px;
    
}

.web_icon img {
   position: relative;
   width: 16px;
   height: 16px;
   left: 40px;
}

select {
    font-size:bold;
    font-size: 1rem;
    border-radius: 2px;
    border: 1px rgb(199, 193, 193) solid;
    font-family: Arial, Helvetica, sans-serif;
}


.language {
    display: inline-flex;
    margin-top: 12px;
    margin-left: 15px;
    margin-right: 50px;
    gap: 10px;
    align-items: center;
    
}


.language_choice {
    padding-left: 2.5rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    padding-right: 2.5rem;
    color: rgb(255, 255, 255);
    background: transparent;
    appearance: none;
}
.language_choice option {
    color: black;
}

li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text span {
    color: blue;
}